language: python
sudo: require
python:
  - "2.7"
  - "3.5"
  - "3.6"

matrix:
  include:
    - language: generic
      os: osx
      python: 2.7.14
      osx_image: xcode9.3
      env: PYTHON=2
    - language: generic
      os: osx
      python: 3.6.5
      osx_image: xcode9.3
      env: PYTHON=3

addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran

before_install:
- |
  PIP=pip
  PY=python
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    PIP=pip2
    PY=python2
    if  [ "${PYTHON:0:1}" = "3" ]; then
      brew upgrade python
      brew install python3
      PIP=pip3
      PY=python3
    fi
  fi
install:
  - travis_wait travis_retry $PIP uninstall numpy -y
  - travis_wait travis_retry $PIP install -r requirements.txt --ignore-installed flake8 isort cpplint annoy
  #- travis_wait travis_retry $PIP install isort==4.3.20
  - travis_retry $PIP install -e .

script:
  - flake8
  - flake8 --filename='*.pyx,*.px*' --ignore E901,E225,E226,E227,E999
  - isort -c --thirdparty=seaborn --thirdparty=matplotlib  *.py
  - cpplint --linelength 100 **/*.h
  - $PY --version
  - $PY setup.py test

cache:
  - apt
  - directories:
    - $HOME/.cache/pip
