language: python
sudo: require
python:
  - "2.7"
  - "3.5"
  - "3.6"

matrix:
  include:
    - language: generic
      os: osx
      python: 2.7.13
      osx_image: xcode9.3
    - language: generic
      os: osx
      python: 3.5.4
      osx_image: xcode9.3
    - language: generic
      os: osx
      python: 3.6.4
      osx_image: xcode9.3

addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran

before_install:
- |
  PIP=pip
  PYTHON=python
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew update
    brew install gcc
    PIP=pip2
    PYTHON=python2
    if  [ "${PYTHON:0:1}" = "3" ]; then
      brew upgrade python
      brew install python3
      PIP=pip3
      PYTHON=python3
    fi
  fi

install:
  - travis_wait travis_retry $PIP install -r requirements.txt --ignore-installed flake8 isort cpplint annoy 
  - travis_retry $PIP install -e .

script:
  - flake8
  - flake8 --filename='*.pyx,*.px*' --ignore E901,E225,E226,E227,E999
  - isort -c **/*.py
  - cpplint --linelength 100 **/*.h
  - $PYTHON setup.py test

cache:
  - apt
  - directories:
    - $HOME/.cache/pip
