language: python
sudo: require
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"

matrix:
  # xcode11 has a known bug: https://github.com/Homebrew/homebrew-core/issues/44579
  include:
    - language: generic
      os: osx
      python: 2.7.14
      env: PYTHON=2
      osx_image: xcode11.3
    - language: generic
      os: osx
      env: PYTHON=3
      osx_image: xcode12

addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran

before_install:
- |
  PIP=pip
  PY=python
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    PIP=pip2
    PY=python2
    if  [ "${PYTHON:0:1}" = "3" ]; then
      PIP=pip3
      PY=python3
    fi
  fi
install:
- |
  travis_wait travis_retry $PIP uninstall numpy -y
  travis_wait travis_retry $PIP install -r requirements.txt --ignore-installed flake8 isort cpplint annoy
  if  [ "${PYTHON:0:1}" = "3" ]; then
     travis_wait travis_retry $PIP install nmslib faiss
  fi
  travis_retry $PIP install -e .

script:
  - flake8
  - flake8 --filename='*.pyx,*.px*' --ignore E901,E225,E226,E227,E999
  - isort -c implicit/*.py
  - isort -c examples/*.py
  - isort -c tests/*.py
  - isort -c --thirdparty=seaborn --thirdparty=matplotlib --thirdparty=pyspark benchmarks/*.py
  - cpplint --linelength 100 **/*.h
  - $PY --version
  - $PY setup.py test

cache:
  - apt
  - directories:
    - $HOME/.cache/pip
