recursive-include implicit *.h *.cu *.pyx *.py
recursive-include examples *.py
recursive-include tests *.py
include cuda_setup.py
include README.md
include requirements.txt
include LICENSE
include tox.ini
